.third{
    color: brown;
}
p{
    color: blue;
}
#second{
    color: red;
}
input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
    }
    
    input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
    }
    
    style
    #p-red {
        background-color: green;
        color: bisque;
    }
    div .red {
        color: brown;
    }
    